$bg-color: #f6f5f7;
$color-white: #fff;
$color-dark: #000;
$color-blue: #157fe7;
$color-blue-dark: #0080ff;
$color-green: #34a853;
$color-red: #ff2600;
$color-gradient: #f46b45;
$color-gradient-2: #eea849;
