*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
.container__contact-page {
  background-color: $bg-color;
  height: 100vh;
  display: grid;
  place-items: center;
}
